* {
  box-sizing: border-box;
}

*::selection {
  display: none;
}

body {
  background-image: linear-gradient(
    -145deg,
    #b8c6db 0%,
    #f5f7fa 100%
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 900px;
  overflow: hidden;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.quiz-header {
  padding: 4rem;
}

h2 {
  padding: 1rem;
  margin: 0;
  height: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
  font-weight: 500;
}

ul li,
p {
  padding-bottom: 1rem;
  border-bottom: 2px solid #eee;
}
p {
  height: 40px;
}

button:focus {
  outline: none;
}

.result {
  display: flex;
  justify-content: space-evenly;
  width: 1000px;
}

.hidden {
  display: none;
}

.next {
  font-size: 40px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  fill: #333;
}

span {
  display: grid;
  place-items: center;
  height: 45px;
  width: 45px;
  position: absolute;
  top: 30px;
  right: 30px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  color: #333;
}
.reload {
  font-size: 20px;
  top: 30px;
  color: #fff;
}

.result-area {
  position: relative;
}

.result {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 900px;
}

.num-quiz {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  padding: 2rem;
}

.num-quiz label {
  font-size: 30px;
  display: block;
  margin-bottom: 1rem;
}
.num-quiz input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #444;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.num-quiz button {
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 3rem;
}
.num-quiz p {
  margin: 0;
  border: 0;
  height: 0;
}
.alert {
  color: #ef233c;
  font-size: 20px;
}
